* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #808ac8, #ff819d, #eac23a);
  font-family: "Neucha", cursive;
}

h2 {
  text-align: center;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header__search.hidden {
  padding: 8px;
  border: none;
  border-radius: 15px;
  outline: none;
  display: inline;
  background-color: rgb(236, 236, 236);
}

.header__search {
  display: none;
}

.fa-solid.fa-magnifying-glass {
  cursor: pointer;
}

.fa-solid.fa-magnifying-glass:hover {
  cursor: pointer;
  background-color: #e9e8e8;
  border-radius: 7px;
}

.header__top250,
.header__popular-movies,
.header__await-movies {
  cursor: pointer;
}

.header__top250:hover,
.header__popular-movies:hover,
.header__await-movies:hover {
  cursor: pointer;
  background-color: #e9e8e8;
  border-radius: 7px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 7px;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover-inner,
.person__cover-inner,
.staff__cover-inner {
  position: relative;
  height: 360px;
}

.movie__cover,
.person__cover,
.staff__cover {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.movie__cover--darker {
  background-color: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 7px;
}

.movie__cover--darker:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 7px;
}

.movie__info,
.person__info,
.staff__info {
  padding: 10px 0px;
}

.movie__title,
.person__name,
.staff__name {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
}

.movie__category {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.movie__average {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.movie__average--green {
  border: 2px solid rgb(0, 255, 0);
}

.movie__average--orange {
  border: 2px solid rgb(255, 123, 0);
}

.movie__average--red {
  border: 2px solid rgb(255, 0, 0);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: width 2s;
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card,
.modal__card-staff {
  max-width: 600px;
  padding: 16px;
  background: linear-gradient(45deg, #808ac8, #ff819d, #eac23a);
  color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.modal__movie-backdrop,
.modal__staff-backdrop {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 7px;
}

.modal__movie-info,
.modal__staff-info {
  margin-left: 20px;
}

.modal__movie-site,
.modal__staff-link {
  text-decoration: none;
  color: #d9ff00;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
  right: 30px;
  top: 10px;
  position: absolute;
  color: aliceblue;
}

ul li {
  padding: 5px;
  list-style-type: none;
}

.modal__staff-filmography,
.modal__staff {
  cursor: pointer;
}

.modal__staff-filmography:hover,
.modal__staff:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 7px;
}

.black-cover__stuff {
  background: linear-gradient(45deg, #808ac8, #ff819d, #eac23a);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 7px;
}

.staff__profession {
  top: 50px;
  position: relative;
  color: aliceblue;
  font-size: x-large;
  text-align: center;
}

.staff__description {
  top: 50px;
  position: relative;
  color: aliceblue;
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

.poster__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  top: 70px;
  margin: auto;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
}

.poster__info:hover {
  color: rgb(0, 0, 0);
  background-color: #fffb00;
  transition: all 0.5s ease-in-out;
}

.person__cover--darker,
.staff__cover--darker {
  background-color: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 7px;
}

.person__cover--darker:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 7px;
  cursor: pointer;
}

.person__profession {
  text-align: center;
}
